:root {
    --font-color-1: #ffffff; 
    --font-color-2: #868686;
    --background-color-1: #f1f8ff;
    --backgorund-color-2: #ffffff;
    --border-color-1: rgba(255,255,255,0.2);
    --border-color-2: rgba(255,255,255,0.15);
}

body{
    font-family: var(--bs-body-font-family);
    color: var(--font-color-1);
    background-color: var(--background-color-1);

}
