#header {
    height: 80px;
    max-width: auto;
    background: transparent;
}


#header .container {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: auto;
    margin-top: 10px;
}

#header .logo img {
    display: block;
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#navbar li {
    position: relative;
    padding: 6px 10px;
}


#navbar li a{
font-size: 16px;
color: white;
font-weight: 600;
padding: 5px;
cursor: pointer;
}

.nav-item-join{
    background-color: orange;
    border-radius: 10px;
    
}

/* Hamburger Menu Styles */

.hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    
}

.fa-bars {
    font-size: 24px; /* Adjust as needed */
    color: white;
}

/* Responsive Styles */

@media (max-width: 576px) {

    
    .hamburger-menu {
        display:block;
        
    }

    #header .container {
        margin-left: 60px;
        
    }    

    #navbar ul {
        display: none;
        position: absolute;
        top: 60px; 
        right: 80px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        z-index: 999; 
    }

    #navbar ul.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


