.bim-section{
    background-color: white;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bim-section .btn {
    background-color: #355592;
    margin: 5px 25px;
    
}


.bim-section p {
    font-size:  12 px;
    color: black;
    text-align: lef;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    
}

.bim-section h2{
    color: #355592;
    font-weight: 850;
}

.bim-section h3{
    color: black;
    font-weight: 550;
    font-size: 18px;
    text-align: center;
}

.bim-section .container {

    padding: 0 100px;
}

.result{

text-align: center;
}

.bim-section .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid transparent;
    bottom: 0;
    margin-left: 97px;
}


@media (max-width: 576px) {
    .bim-section {
      padding: 0 0; 
      
    }
    .bim-section .container {
      padding: 0px 5px;
      padding-top: 25px;
    }

    .bim-section h2{
        color: #355592;
        font-weight: 850;
        font-size: 40px;
        text-align: center;
    }

    .bim-section .col-md-4 button {
        width: 100%; 
        margin-left: auto; 
        margin-right: auto;
        display: block; 
    }

}