.contactus-section {
    background:white;
    padding-top: 90px;
    text-align: center;
}

.contactus-section .container {
    padding-left: 100px;
    padding-right: 100px;
    z-index: 1;
    
}

.contactus-section .container .button-container{
    position: relative; 
    text-align: center;
    z-index: 1;
}

.contactus-section h1 {
    font-size: 1.5em;
    text-align: center; 
    color: #355592;
    font-weight: 850;
    margin-top: 0px;
    margin-bottom: auto;
    
    
}
.contactus-section h2 {
    text-align: left;
    font-size: 22px;
    color:black;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 0 74px;
   
}
.contactus-section h3 {
   padding: 0;
    margin: 0;
   
}

.contactus-section h4 {
    text-align: left;
    font-size: 18px;
    color:black;
    font-weight: 500;
    margin-top: 10px;
    padding: 0 74px;
   
}

.contactus-section h5 {
    text-align: left;
    font-size: 14px;
    color:black;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 0 74px;
   
}

.contactus-section p {
    font-size: large;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
    
}

.contactus-section p2 {
    font-size:  12 px;
    color: black;
    text-align: left;
    font-weight: 500;
    
}
.contactus-section .btn-orange {
    font-size: 1.2em; 
    font-weight: 700;
    margin: 50px 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px; 
    border-color: orange;
    text-decoration: none;
    background-color: orange;
    transition: background-color 0.3s ease; 
}

.contactus-section .btn {
    font-size: 1.2em; 
    font-weight: 700;
    margin: 50px 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px; 
    border-color: #355592;
    text-decoration: none;
    background-color: #355592;
    transition: background-color 0.3s ease; 
}
.contactus-section .btn:hover {
    background-color: #355592;
}

.contactus-section .container .section-content {
    padding: 75px 0px;

}
.contactus-section img{
    max-width: 100%;
    max-height: 100%;

}

.contactus-section .col-md-3 {
    border-radius: 6px;
    

}

.contactus-section .column{

    margin-left: 10px;

}

.contactus-section .info-container{
    display: flex;
  justify-content: space-between;
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .input-row {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f8ff;
  }
  
  textarea {
    resize: vertical; 
  }

  @media (max-width: 576px) {
    .contactus-section {
      padding: 50px 0; 
      
    }
    .contactus-section .container {
      padding: 0px 5px;
      padding-top: 25px;
    }

    .contactus-section .container .section-content {
        padding: 25px 0px;
    
    }

}
  




  