/* Default styles for larger screens */
.hero-section {
    background-image:url(/images/hero-man.jpg); 
    background-size: cover;
    background-position: center;
    padding: 115px 0; 
    text-align: center;
}

.hero-section .container {
    position: relative; 
    text-align: left;
    padding-left: 185px;
    padding-right: 185px;
    z-index: 1;  
}

.hero-section h1 {
    font-size: 4em; 
    font-weight: 850;
    text-shadow: 2px 2px black;
    margin-top: 0px;
    margin-bottom: auto;   
}

.hero-section p {
    font-size: 1.65em; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;   
}

.hero-section .btn {
    font-size: 1.2em; 
    font-weight: 700;
    padding: 3px 15px; 
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 5px; 
    border-color: #355592;
    text-decoration: none;
    background-color: #355592;
    transition: background-color 0.3s ease; 
}
.hero-section .btn-below {
    font-size: 1.2em; 
    font-weight: 700;
    padding: 3px 15px; 
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 5px; 
    border-color: #355592;
    text-decoration: none;
    background-color: #355592;
    transition: background-color 0.3s ease; 
}

.hero-section .top-btn {
    font-size: 1.2em; 
    font-weight: 700;
    border-radius: 5px; 
    margin-left: 0px;
    padding: 2px 10px;
    margin-bottom: 0px;
    border-color: #355592;
    text-decoration: none;
    background-color: #355592;
    transition: background-color 0.3s ease; 
}

.hero-section .secondary-btn {
    font-size: 1.2em; 
    font-weight: 700;
    padding: 3px 15px; 
    margin-right: 35px;
    border-radius: 5px; 
    border-color: white;
    background-color: transparent;
    transition: background-color 0.3s ease; 
}

.hero-section .btn:hover {
    background-color: #355592;
}

.box {
    background-color: white;
    color:#355592;
    padding: 20px; 
    text-align: center; 
    font-size: 18px; 
    border-radius: 10px; 
}

/* Media query for screens with a maximum width of 576px */

@media (max-width: 576px) {
    .hero-section {
      padding: 50px 0; 
      
    }
    .hero-section .container {
      padding: 0px 5px;
      padding-top: 100px;
    }
  
    .hero-section .btn-below {
      display: block;
      width: 100%;
      margin: 10px 0; 
      text-align: left;
    }
    .responsive-heading {
      display: none; /
  }
  .hero-section .container:before {
      content: "Group Practice";
      display: block;
      font-size: 4em; 
      font-weight: 850;
      text-shadow: 2px 2px black;
      margin-top: 0px;
      margin-bottom: auto;   
      
  }
  .top-btn {
      position: absolute;
      top: 80px; 
      text-align: left;
      z-index: 2; 
  }
  }
  