.purchase-section {
    background:white;
    padding-top: 90px;
    text-align: center;
}

.purchase-section .container {
    padding-left: 100px;
    padding-right: 100px;
    z-index: 1;
    
}

.purchase-section .container .button-container{
    position: relative; 
    text-align: center;
    z-index: 1;
}

.purchase-section h1 {
    font-size: 1.5em;
    text-align: center; 
    color: #355592;
    font-weight: 850;
    margin-top: 0px;
    margin-bottom: auto;
    
    
}
.purchase-section h2 {
    text-align: left;
    font-size: 18px;
    color:black;
    font-weight: 850;
    margin-bottom: 25px;
    margin-top: 10px;
   
}
.purchase-section h3 {
   padding: 0;
    margin: 0;
   
}

.purchase-section p {
    font-size: large;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
    
}

.purchase-section p2 {
    font-size:  12 px;
    color: black;
    text-align: left;
    font-weight: 500;
    
}
.purchase-section .btn-orange {
    font-size: 1.2em; 
    font-weight: 700;
    margin: 50px 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px; 
    border-color: orange;
    text-decoration: none;
    background-color: orange;
    transition: background-color 0.3s ease; 
}

.purchase-section .btn {
    font-size: 1.2em; 
    font-weight: 700;
    margin: 50px 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px; 
    border-color: #355592;
    text-decoration: none;
    background-color: #355592;
    transition: background-color 0.3s ease; 
}
.purchase-section .btn:hover {
    background-color: #355592;
}

.purchase-section .container .section-content {
    padding: 75px 0px;

}
.purchase-section img{
    max-width: 100%;
    max-height: auto;
    

}

.purchase-section .card-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}


.purchase-section .column{
    text-align: center;
}

@media (max-width: 576px) {
    .purchase-section {
      padding: 50px 0; 
      
    }
    .purchase-section .container {
      padding: 0px 5px;
      padding-top: 25px;
    }
    .purchase-section .col-md-3 {
        text-align: center; 
        margin-bottom: 30px;
        padding: 0 125px;
    }
    .purchase-section .container .section-content {
        padding-top: 50px;
        padding-bottom: 0px;
    
    }
}



