.review-section {
    background: #f1f8ff;
    padding-top: 90px;
    text-align: center;
}

.review-section .container {
    position: relative; 
    text-align: left;
    padding-left: 90px;
    padding-right: 90px;
    z-index: 1;
    
}

.review-section .text-container {
padding: 10px 10px;   
 z-index: 1;
    
}

.review-section .container .button-container{
    position: relative; 
    text-align: center;
    z-index: 1;
}

.review-section h1 {
    font-size: 1.5em;
    text-align: center; 
    color: #355592;
    font-weight: 850;
    margin-top: 0px;
    margin-bottom: auto;
    
    
}
.review-section h2 {
    text-align: left;
    font-size: 18px;
    color:black;
    font-weight: 850;
    margin-bottom: 25px;
    margin-top: 10px;
   
}

.review-section p {
    font-size: large;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
    
}

.review-section p2 {
    color: white;
    text-align: left;
    font-weight: 350;
    vertical-align: middle;
    font-size: medium;
    
}

.review-section p3 {
    color: black;
    text-align: left;
    margin-left: 10px;
    font-weight: 500;
    vertical-align: top;
    font-size: medium;
    
}
.review-section .btn-orange {
    font-size: 1.2em; 
    font-weight: 700;
    margin: 50px 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px; 
    border-color: orange;
    text-decoration: none;
    background-color: orange;
    transition: background-color 0.3s ease; 
}

.review-section .btn {
    font-size: 1.2em; 
    font-weight: 700;
    margin: 50px 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px; 
    border-color: #355592;
    text-decoration: none;
    background-color: #355592;
    transition: background-color 0.3s ease; 
}
.review-section .btn:hover {
    background-color: #355592;
}

.review-section .container .section-content {
    padding: 75px 0px;

}

.review-section img {
    clip-path: circle(50% at 50% 50%);
    width: 60px;
    height: 60px;
    margin-left: 12px;
}


.row {
    display: flex;
  }
  
  .column {
    flex:1;
    padding: 0px 0px;
  }
  
  .column img {
    max-width: 100%;
  }
  
  .column div {

padding-top: 2px;
  }

  .review-section .col-md-6{
    position: relative;
  }
  .review-section .triangle-container{
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 576px) {
    .review-section {
      padding: 50px 0; 
      
    }
    .review-section .container {
      padding: 0px 5px;
      padding-top: 25px;
    }
}

