.trainer-section {
    background: #f1f8ff;
    padding-top: 90px;
    text-align: center;
}

.trainer-section .container {
    position: relative; 
    text-align: left;
    padding-left: 150px;
    padding-right: 150px;
    z-index: 1;
    
}

.trainer-section .container .button-container{
    position: relative; 
    text-align: center;
    z-index: 1;
}

.trainer-section h1 {
    font-size: 1.5em;
    text-align: center; 
    color: #355592;
    font-weight: 850;
    margin-top: 0px;
    margin-bottom: auto;
    
    
}
.trainer-section h2 {
    text-align: left;
    font-size: 18px;
    color:black;
    font-weight: 850;
    margin-bottom: 25px;
    margin-top: 10px;
   
}

.trainer-section p {
    font-size:  large;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-weight: 500;
    
}

.trainer-section p2 {
    font-size:  12 px;
    color: black;
    text-align: left;
    font-weight: 500;
    
}
.trainer-section .btn-orange {
    font-size: 1.2em; 
    font-weight: 700;
    margin: 50px 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px; 
    border-color: orange;
    text-decoration: none;
    background-color: orange;
    transition: background-color 0.3s ease; 
}

.trainer-section .btn {
    font-size: 1.2em; 
    font-weight: 700;
    margin: 50px 75px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px; 
    border-color: #355592;
    text-decoration: none;
    background-color: #355592;
    transition: background-color 0.3s ease; 
}

.trainer-section .container .section-content {
    padding: 75px 0px;

}

.image-container {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 0px;
    position: relative;
    overflow: hidden;
}

.plus-sign {
    position: absolute;
    bottom: 2.5%; 
    left: 50%;
    transform: translateX(-50%);
    width: 270px; 
    height: 120px; 
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-bottom: 20px;
}

.horizontal-bar,
.vertical-bar {
    position: absolute;
    background-color: #355592;
}

.horizontal-bar {
    width: 100%;
    height: 60%; 
    top: 35%; 
    left: 0;
}

.vertical-bar {
    width: 70%; 
    height: 80%;
    top: 0;
    left: 15%; 
    margin-top: 30px;
}
.hover-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.trainer-section img{
    margin-left: 9px;
}

.image-container:hover .plus-sign {
    opacity: 1;
}


.wrapper-rectangle {
    position: absolute;
    background-color: #355592; 
  }
   .top, .bottom {
    width: calc(100% - 66.66%);
    height: 3%; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .left, .right {
    width: 3%; 
    height: calc(100% - 66.66%); 
    top: 50%;
    transform: translateY(-50%);
  }
  
  .top {
    top: 0;
  }
  
  .bottom {
    bottom: 0;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    right: 0;
  }

  .image-container:hover .bottom{
    width: calc(100% - 33.33%);
    
}

.image-container:hover .right{
    height: calc(100% - 45%);
    top: 60%;
}

.image-container:hover .left{
    height: calc(100% - 45%);
    top:60%;
}
  
@media (max-width: 576px) {
    .trainer-section {
      padding: 50px 0; 
      
    }
    .trainer-section .container {
      padding: 0px 5px;
      padding-top: 25px;
    }
    .trainer-section .col-md-4 {
        text-align: center; 
        margin-bottom: 20px;
    }

    .plus-sign {
        margin-left: 5px;
    }

    .trainer-section .container .section-content {
        padding: 0px 0px;
        padding-top: 75px;
    
    }

    .left {
        width: 2%; 
        left: 106px;
    }

    .right {
        width: 2%; 
        right:97px;
    }

    .image-container:hover .bottom{
        width: calc(100% - 50%);
        
    }
}




